<!DOCTYPE html>
<html lang="en" style="background-color: #4CAF50">
<!-- <head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<link rel="stylesheet" href="C:\Users\Supriya\Documents\Tours\Money-Insight\src\styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head> -->
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Tours</h2>
        <ul>
            <li (click)="clickLogin()"><a href="javascript:void(0)">Home</a></li>
            <li (click)="clickQuest()"><a href="javascript:void(0)">Quests</a></li>
            <li (click)="clickPlan()"><a href="javascript:void(0)">Plan</a></li>
            <li><a href="#">Expense</a></li>
            <li><a href="#">Insights</a></li>
            <li><a href="#">Account</a></li>
            
        </ul> 
        <!-- <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div> -->
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>  
        <div class="info">
            <router-outlet></router-outlet>
      </div>
    </div>
</div>

</body>
</html>



