<html>
    
<div *ngIf="!showQuest" class="container">
    
    <h1 class="center">List of Tours</h1>
    <button type="button" class="btn btn-primary btn-lg" 
    (click)="gotoQuest()">Add</button>

    <table  style="width:100%" CELLSPACING=10>
        <tbody>
            <tr style="width:100%">
                
                <th>Tour Name</th>
                <th>Person</th>
                <th>Action</th>
            </tr>
       
       
            <tr *ngFor="let item of data">
                <td>Summer Camp</td>
                <td>supriya</td>
                
                <td>
                    <button type="button" >Delete</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" >Edit</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
</html>

<app-quest *ngIf="showQuest"></app-quest>
