
<div class="container pd-lt-non pd-rt-non">
    <div class="row">
               
        <div class="col-lg-6 pd-lt-non">
           
                  <input type="text" class="form-control" placeholder="Enter Tour Name" >
        </div>
        
         
           <div class="col-lg-6 pd-lt-non">
                
                <input type="text" class="form-control" placeholder="Enter Source" >

            </div>

</div>
<div class="row">
    <div class="col-lg-6">
        <div  class="text-right">
            
         <input type="text"   placeholder="Enter Destination" >

    </div>
</div>
</div>

</div>